/*
DESENVOLVEDOR: Thales Cardoso
GITHUB: https://github.com/thalesacardoso
LINKEDIN: https://www.linkedin.com/in/thalesacardoso/
DATA: 05/10/2023
*/

/* IMPORTA O RESET CSS */
@import url('./reset.css');

/* IMPORTA A FONTE DO GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

* {
   font-size: 16px;
   font-family: 'Press Start 2P';
}

img {
   max-width: 100%;
}

body {
   background-color: #add8e6;
}

.container {
   height: 100vh;
   background-image: url('../images/wall.png');
   display: flex;
   flex-direction: column;
   align-items: center;
}


/***************** MENU ***********************/

.menu {
   width: 100%;
   padding: 15px;
   background-color: #000000;
   border-bottom: 5px solid #ffd700;

   display: flex;
   justify-content: space-evenly;
   align-items: center;
   color: #FFF;
}

.menu h2.titulo {
   color: #ff0000;
   margin-bottom: 10px;
}

.menu-lives {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}



/***************** PAINEL ***********************/

.panel {
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.panel-row {
   display: flex;
}

.square {
   width: 150px;
   height: 150px;
   background-color: #add8e6;
   border: 1px solid #000;
}

.enemy {
   background-image: url('../images/ralph.png');
   background-size: cover;
}

.btn-continuar {
   width: 200px;
   padding: 10px 20px;   
   margin-top: 20px;
   border-radius: 10px;
   background-color: #add8e6;
   color: red;
   display: none;
   
}

.btn-continuar.ativo {
   display: block;
}

