/*
DESENVOLVIDO POR: Thales Cardoso
GITHUB: https://github.com/thalesacardoso
DATA: 
*/

/* IMPORTA O RESET CSS */
@import url('./reset.css');

/* IMPORTA A FONTE DO GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

* {
   font-size: 24px;
   font-family: 'Press Start 2P';
}

body {
   background-color: #add8e6;
}

.container {
   height: 100vh;
   display: flex;
   flex-direction: column;
}

.menu {
   background-color: #000000;
   width: 100%;
   height: 90px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   color: #FFF;
}

.menu h2.titulo {
   color: #ff0000;
}

