/*
DESENVOLVIDO POR: Thales Cardoso
GITHUB: https://github.com/thalesacardoso
DATA: 
*/

* {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none; 
}